name: Publish

on:
  push:
    branches:
      - main
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3


      - name: Cache published files (temp)
        id: cache-published-files
        uses: actions/cache@v3
        env:
          cache-name: cache-published-files
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: www
          key: tempcache


      - if: ${{ steps.cache-published-files.outputs.cache-hit != 'true' }}
        name: Logseq Publish
        uses: pengx17/logseq-publish@0.1.7
        with:
          dest: www
          # Temporary until master gets heading block urls
          version: nightly@sha256:89e32c07eee2fac2506ddbdee4d3fbcd35d2c1ea1020fccc6b7464f4f146c35f


      - name: Serve Files
        uses: Eun/http-server-action@v1
        with:
          directory: www
          port: 8000
          no-cache: false
          allowed-methods: |
            ["GET", "HEAD"]
          content-types: |
            {
              "appcache": "text/cache-manifest",
              "css": "text/css",
              "gif": "image/gif",
              "html": "text/html",
              "ico": "image/x-icon",
              "jpeg": "image/jpeg",
              "jpg": "image/jpeg",
              "js": "text/javascript",
              "json": "application/json",
              "png": "image/png",
              "txt": "text/plain",
              "xml": "text/xml"
            }
      - run: mkdir www2

      - name: Snapshot each page
        uses: addnab/docker-run-action@v3
        with:
            image: capsulecode/singlefile:latest
            options: -v ${{ github.workspace }}:/singlefiles --add-host host.docker.internal:host-gateway --cap-add=SYS_ADMIN --user 1001 
            # no-sandbox comes from here: https://github.com/jessfraz/dockerfiles/issues/350#issuecomment-1430586061 
            run:  ./single-file --browser-executable-path /usr/bin/chromium-browser true --remove-unused-styles true --move-styles-in-head true --browser-wait-until=domcontentloaded --browser-wait-delay=30000 --crawl-links=true --crawl-max-depth=2 --crawl-inner-links-only --crawl-replace-urls=false --crawl-remove-url-fragment=false --output-directory=/singlefiles/www2 --dump-content=false --filename-template "{page-title}.html" "http://host.docker.internal:8000"

      - name: Clean up html files
        run: python --version

      - name: Add .nojekyll file
        run: touch www2/.nojekyll

      - name: Deploy to gh-pages
        uses: JamesIves/github-pages-deploy-action@4.1.9
        with:
          branch: gh-pages
          folder: www2
          clean: true
          clean-exclude: |
            CNAME
            .nojekyll


# things I had to do
# add --cap-add=SYS_ADMIN https://github.com/jessfraz/dockerfiles/issues/350#issuecomment-1430586061
# add --user 1001 https://github.com/cypress-io/github-action/issues/446#issuecomment-1000542643
